@import '../../../node_modules/normalize.css/normalize.css';
@import '../../../node_modules/vanilla-cookieconsent/dist/cookieconsent.css';

@import './utilities/variables';
@import './utilities/mixins';
@import './utilities/functions';

@import './base/typography';
@import './base/spacing';

@import './components/index';

@import './pages/prints';

@import './transitions/index';

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	&:focus {
		outline: 3px solid black;
	}
}

html {
	height: 100%;
}

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $base-font-color;
	font-weight: 400;
	line-height: $base-line-height;
	background-color: $base-background-color;
	overflow-x: hidden;

	@include phone {
		font-size: 12px;
	}
}

main {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

b {
	font-weight: 600;
}

a,
button {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	border: 0;

	&:focus {
		outline: none;
	}
}

img {
	max-width: 100%;
}

input,
textarea {
	outline: none;

	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

.nuxt-loading-indicator {
	background: black !important;
}

.container,
.container-md {
	width: 95%;
	margin: 0 auto;

	@include phone-l {
		width: 90%;
	}
}

.container {
	max-width: 1344px;
}

.container-md {
	max-width: 890px;
}

.grid-2-col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 15%;
	row-gap: 50px;

	@include phone-l {
		grid-template-columns: 1fr;
	}
}

.grid-3-col {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 35px;
	row-gap: 50px;

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}

	@include phone {
		grid-template-columns: repeat(1, 1fr);
	}
}

.w-full {
	width: 100%;
}

.text-center {
	text-align: center;
}

.fw-600 {
	font-weight: 600;
}

.flex {
	display: flex;

	&.center {
		align-items: center;
	}
}

.phone-hide {
	@include phone-l {
		display: none;
	}
}