@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat/static/Montserrat-Bold.ttf')
		format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf')
		format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat/static/Montserrat-Medium.ttf')
		format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('~/assets/fonts/Montserrat/static/Montserrat-Regular.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('~/assets/fonts/Avenir/AvenirNextCyr-Regular.woff2')
		format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('~/assets/fonts/Avenir/AvenirNextCyr-Light.woff')
		format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('~/assets/fonts/Avenir/AvenirNextCyr-Medium.woff2')
		format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('~/assets/fonts/Avenir/AvenirNextCyr-Bold.woff2')
		format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 120%;
	color: $base-font-color;
}

h1 {
	font-size: 50px;
	font-weight: 700;

	@include tablet {
		font-size: 50px;
	}

	@include phone-l {
		font-size: 40px;
	}
}

h2 {
	font-size: 34px;

	@include tablet {
		font-size: 35px;
	}

	@include phone-l {
		font-size: 30px;
	}
}

h3 {
	font-size: 28px;

	@include tablet {
		font-size: 26px;
	}

	@include phone-l {
		font-size: 20;
	}
}

h4 {
	font-size: 22px;

	@include tablet {
		font-size: 20px;
	}

	@include phone-l {
		font-size: 18px;
	}
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

p {
	font-family: Avenir Next, Helvetica, sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: $base-line-height;

	@include phone-l {
		font-size: 14px;
	}
}

.p-18 {
	font-size: 18px;
	line-height: 140%;
}

.m-auto {
	margin: 0 auto;
}
