h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 120%;
	color: $base-font-color;
}

h1 {
	font-size: 50px;
	font-weight: 700;

	@include tablet {
		font-size: 50px;
	}

	@include phone-l {
		font-size: 40px;
	}
}

h2 {
	font-size: 28px;

	@include tablet {
		font-size: 20px;
	}
}

h3 {
	font-size: 23px;

	@include tablet {
		font-size: 18px;
	}
}

h4 {
	font-size: 16px;

	@include tablet {
		font-size: 16px;
	}
}

h5 {
	font-size: 13px;
}

h6 {
	font-size: 13px;
}

p {
	font-family: 'Avenir Next', Helvetica, sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: $base-line-height;

	@include phone-l {
		font-size: 14px;
	}
}

.p-18 {
	font-size: 18px;
	line-height: 140%;
}

.m-auto {
	margin: 0 auto;
}
