@import '../utilities/mixins';

.section-b-sellers {
  padding: 48px 0;
  overflow: hidden;
}

.b-sellers__wrapper {
  display: flex;
  flex-direction: column;
}

.b-sellers__slider {
  width: 100%;
  overflow: visible !important;
}

.b-sellers__head {
  @include flex-space-between-center;
}

.swiper-slide.product-card {
  width: 100%;
}
