.swiper-slide.slider__slider-slide {
	width: 33.33%;

	@include tablet {
		width: 50%;
	}

	@include phone {
		width: 100%;
	}
}

.community-slide {
	background-color: #f8f8f8;
	padding: 32px 25px;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		margin-top: 64px;
	}
}

.slider {
	padding: 96px 0px;
	overflow: hidden;

	&__head {
		@include flex-space-between-center;

		@include phone-l {
			flex-direction: column;
			align-items: flex-start;
		}

		&-button {
			margin-left: 25px;

			@include phone-l {
				margin-left: auto;
			}
		}
	}

	&__slider {
		overflow: visible !important;
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: 15px;

		@include phone-l {
			width: 100%;
			margin-top: 24px;
		}

		&-button {
			@include flex-center;
			max-width: 48px;
			min-width: 48px;
			height: 48px;
			border-radius: 100%;
			background-color: #f8f8f8;

			&.is-prev {
				transform: rotate(180deg);
			}

			&[disabled] {
				cursor: not-allowed;
				opacity: 0.7;
			}
		}
	}
}
