.contact-hero {
	min-height: 80vh;
	padding: 10vh 80px;
	display: flex;
	align-items: center;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 80%;

	&__container {
		display: inline-block;
		margin: 0 auto;
	}

	&__social {
		display: flex;
		align-items: center;
		gap: 20px;

		&-link {
			width: 50px;
			height: 50px;
			transition: all 300ms ease;

			&:hover {
				transform: scale(1.2);
			}
		}
	}
}
