#cc_div {
	font-family: $base-font-family;

	& div[role="heading"] {
		font-family: "Montserrat", sans-serif;
	}

	& .c-bn {
		text-transform: uppercase;
		letter-spacing: 0.08em;
		border-radius: 0;
	}

	& #c-s-bn {
		border: 1px solid black;
		background-color: transparent;
	}
}