.cookie {
	position: fixed;
	z-index: 1000;
	bottom: 32px;
	left: 47.5px;
	width: 100%;
	max-width: 440px;
	background-color: #353735;
	color: $white;
	padding: 32px;

	& p {
		font-family: Avenir;
		font-size: 16px;
		line-height: 140%;

		& a {
			color: #fcdd2f;
		}
	}

	&__buttons {
		margin-top: 32px;
		display: flex;
		column-gap: 10px;

		& a {
			font-size: 20px;
			padding: 10px 20px;
			min-width: auto;
		}
	}
}
