@import '../utilities/mixins';

.dropdown {
  border-bottom: 1px solid #d8d9d8;
  cursor: pointer;

  &:first-child {
    border-top: 1px solid #d8d9d8;
  }

  &__toggle {
    @include flex-space-between-center;
    padding: 32px 0;

    & svg {
      transition: all 200ms ease;
    }

    & svg.is-active {
      transform: rotate(135deg);
    }
  }

  &__list {
    overflow: hidden;
    transition: height 300ms ease;

    & p {
      padding: 10px 0 30px 0;
    }
  }

  &-leave-active,
  &-enter-active {
    transition: all 0.2s;
    max-height: 230px;
  }

  &-enter-from {
    max-height: 0px;
  }

  &-enter,
  &-leave-to {
    max-height: 0px;
  }
}
