.form-newsletter {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	& h6 {
		text-transform: capitalize;
		margin-bottom: 20px;
		text-align: center;
	}

	&__input-wrapper {
		display: flex;
		max-width: 480px;
		width: 100%;

		& label {
			width: 100%;
		}

		& button {
			padding: 5px 15px;
			min-width: auto;
			font-size: 10px;

			@include phone {
				font-size: 12px;
				padding: 5px 10px;
			}
		}
	}
}

.section-big-form {
	padding: 124px 0 100px 0;

	@include tablet {
		padding: 64px 0 50px 0;
	}

	&__wrapper {
		max-width: 800px;
		margin: 0 auto;
	}

	&__head {
		text-align: center;
		margin-bottom: 40px;
	}

	& .big-form {
		display: flex;
		flex-direction: column;

		&__inputs {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 35px;
			row-gap: 25px;
			margin-bottom: 36px;
	
			@include phone {
				grid-template-columns: repeat(1, 1fr);
			}

		}
		& button[type="submit"] {
			margin: 0 auto;
		}
	}
}


.input {
	position: relative;
	min-height: 48px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	cursor: text;

	&.is-full {
		grid-column: span 2;

		@include phone {
			grid-column: span 1 !important;
		}
	}

	& span {
		position: absolute;
		left: 1px;
		top: 17px;
		font-size: 12px;
		font-weight: 500;
		line-height: 15px;
		color: rgba(0, 0, 0, 0.4);
		text-transform: uppercase;
		letter-spacing: 0.2em;
		pointer-events: none;
		transition: all 200ms ease;

		&.is-active {
			top: -5px;
			font-size: 8px;
		}
	}

	& input,
	textarea {
		border: 0;
		width: 100%;
	}

	& textarea {
		min-height: 200px;
		max-height: 300px;
		min-width: 100%;
		max-width: 100%;
		width: 100%;
		padding-top: 17px;
	}
}

.product-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 100px;
	height: 40px;
	background-color: #f8f8f8;
	font-size: 13px;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;

	&__button {
		@include flex-center;
		text-align: center;
		font-size: 18px;
		height: 100%;
		width: 30px;
		font-weight: 400;
		cursor: pointer;

		&[disabled] {
			cursor: not-allowed;
			user-select: none;
		}
	}
}
