@import '../utilities/mixins';

.gallery {
	padding: 40px 0 60px 0;

	@include phone-l {
		padding: 20px 0 40px 0;
	}

	& .swiper-wrapper .swiper-slide {
		@include phone-l {
			max-width: 400px;
		}

		@include phone {
			max-width: 300px;
		}
	}

	& .container {
		@include phone-l {
			width: 100%;
		}

		& .swiper {
			@include phone-l {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}
