.section-grid {
	padding: 64px 0px;
}

.cards-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 35px;
	row-gap: 100px;
}

.grid-v2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 35px;
	row-gap: 50px;
}

body.dark {
	& .grid-card {
		&__picture-wrapper {
			&::before {
				background-color: black;
			}
		}
	}
}

.grid-card {
	display: flex;
	flex-direction: column;
	position: relative;

	&__picture-wrapper {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: #f8f8f8;
			opacity: 0.5;
		}
	}

	&__info {
		margin-top: 24px;

		& h4 {
			margin-bottom: 20px;
		}
	}
}
