.icons__grid {
	display: grid;
	padding: 34px 0;

	@include tablet {
		grid-template-columns: repeat(2, 1fr) !important;
	}

	@include phone {
		grid-template-columns: repeat(2, 1fr) !important;
		row-gap: 10px;
	}

	&[data-columns='1'] {
		.icons__card {
			border-right: 0;
		}
	}

	&[data-columns='2'] {
		.icons__card:nth-child(even) {
			border-right: 0;
		}
	}

	&[data-columns='3'] {
		.icons__card:nth-child(3) {
			border-right: 0;
		}
	}
}

.icons__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	column-gap: 14px;
	padding: 20px;
	border-right: 1px solid #d9d9d9;

	@include tablet {
		&:nth-child(even) {
			border-right: 0;
		}

		&:nth-last-child(-n + 2) {
			border-bottom: 0;
		}

		border-bottom: 1px solid #d9d9d9;
	}

	@include phone {
		border-bottom: 0;
	}

	&:last-child {
		border-right: 0;
	}

	&-icon {
		max-width: 150px;
		margin-bottom: 8px;

		&-img {
			object-fit: contain;
		}
	}

	& h5 {
		text-transform: none;
	}
}
