.section-iwt {
	padding: 64px 0;
}

.iwt__items {
	align-items: center;
}

.iwt__info-rich {
	display: flex;
	flex-direction: column;

	& p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.iwt__info {
	order: 1;
}
