.section-iwt {
	padding: 96px 0;
}

.iwt__items {
	display: flex;
	align-items: center;
	margin: 0 auto;

	@include phone-l {
		flex-direction: column;
	}
}

.iwt__img {
	margin-left: auto;

	& img {
		width: 100%;
	}

	@include tablet {
		margin-left: 0;
	}

	@include phone-l {
		margin-bottom: 25px;
	}
}

.iwt__info-rich {
	display: flex;
	flex-direction: column;
	text-align: left;

	& p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.iwt__info {
	order: 1;
	margin-left: 64px;
	max-width: 650px;
	margin-right: auto;

	@include phone-l {
		margin-left: 0;
		text-align: center;
	}
}
