.section-iwt {
	padding: 96px 0;
}

.iwt__items {
	display: flex;
	align-items: center;
	column-gap: 64px;
	max-width: 900px;
	margin: 0 auto;
}

.iwt__items {
	align-items: center;
}

.iwt__img {
	max-width: 260px;
}

.iwt__info-rich {
	display: flex;
	flex-direction: column;

	& p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.iwt__info {
	order: 1;
}
