.section-instagram {
	padding-top: 96px;
	overflow: hidden;

	@include phone-l {
		padding-top: 32px;
	}

	& .swiper-wrapper {
		transition-timing-function: linear !important;
	}

	& .instagram__photos {
		margin-top: 64px;
		height: 350px;
		overflow: visible;

		@include phone-l {
			height: 250px;
			margin-top: 32px;
		}

		&-item {
			display: flex;
			width: 350px;

			@include phone-l {
				width: 250px;
			}

			& a {
				width: 100%;
			}
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				pointer-events: none;

				&::selection {
					pointer-events: none;
				}
			}
		}
	}
}
