.section-instagram {
	padding-top: 96px;

	@include phone-l {
		padding-top: 32px;
	}

	& .instagram__photos {
		margin-top: 64px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 35px;

		@include phone-l {
			height: 250px;
			margin-top: 32px;
		}

		&-item {
			display: flex;

			@include phone-l {
				width: 250px;
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				pointer-events: none;

				&::selection {
					pointer-events: none;
				}
			}
		}
	}
}
