@import '../utilities/mixins';

.section-hero-main {
	position: relative;
	display: flex;

	@include phone {
		padding-bottom: 48px;
	}

	&--video {
		@include flex-center;
		padding: 50px 0;
		min-height: 50vh;
		color: white;

		& .container {
			z-index: 2;
		}

		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}

		& h1 {
			color: white;
		}
	}

	&__bg-video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		filter: grayscale(100%);
		object-fit: cover;
	}

	& .hero-main {
		&__body {
			display: flex;
			flex-direction: column;

			@include phone-l {
				max-width: none;
			}
		}

		&__video {
			height: 100%;
			width: 100%;
			object-fit: cover;
			filter: grayscale(100%);
		}

		&__footer {
			display: flex;
			flex-direction: column;
			margin-top: 48px;

			@include phone-l {
				margin-top: 5vh;
			}
		}

		&__p {
			margin-left: auto;
		}

		&__info {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			padding: 60px 0;

			&-600 {
				max-width: 800px;
				margin: 0 auto;

				& .hero-main__info-buttons {
					justify-content: center;
				}
			}

			@include phone-l {
				padding: 40px 0 0 0;
			}

			& h1 {
				margin-bottom: 30px;
			}

			&-buttons {
				display: flex;
				align-items: center;
				column-gap: 20px;

				@include phone-l {
					justify-content: center;
				}
			}
		}

		&__content {
			position: relative;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 50px;
			row-gap: 30px;
			align-items: center;
			z-index: 1;

			@include phone-l {
				grid-template-columns: 1fr;
			}
		}

		&__stars {
			margin-top: 10px;
			margin-right: auto;
			& span {
				margin-top: -8px;
				display: block;
				font-size: 8px;
				margin-left: 5px;
			}
		}
	}
}
