@import '../utilities/mixins';

.section-hero-main {
	position: relative;
	display: flex;

	@include phone {
		padding-bottom: 48px;
	}

	& .hero-main {
		&__body {
			display: flex;
			flex-direction: column;

			@include phone-l {
				max-width: none;
			}
		}

		&__footer {
			display: flex;
			flex-direction: column;
			margin-top: 48px;

			@include phone-l {
				margin-top: 5vh;
			}
		}

		&__p {
			margin-left: auto;
		}

		&__info {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			padding: 60px 0;

			@include phone-l {
				padding: 40px 0 0 0;
			}

			& h1 {
				margin-bottom: 30px;
			}

			&-buttons {
				display: flex;
				align-items: center;
				column-gap: 20px;

				@include phone-l {
					justify-content: center;
				}
			}
		}

		&__content {
			position: relative;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 50px;
			row-gap: 30px;
			align-items: center;
			z-index: 1;

			@include phone-l {
				grid-template-columns: 1fr;
			}
		}

		&__stars {
			margin-top: 10px;
			margin-right: auto;
			& span {
				margin-top: -8px;
				display: block;
				font-size: 8px;
				margin-left: 5px;
			}
		}
	}
}
