.projects {
  padding: 60px 0;

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 150px;

    @include phone-l {
      flex-direction: column;
      margin-bottom: 100px;
    }

    &:nth-child(even) {
      .projects__card-info {
        order: 1;
        margin-right: 0;
        margin-left: 80px;

        @include phone-l {
          order: 0;
          margin-left: 0;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-slider {
      width: 50%;

      @include phone-l {
        width: 100%;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      width: 50%;
      margin-right: 80px;

      @include phone-l {
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
      }

      & h1, h2 {
        margin-bottom: 20px;
        font-weight: 700;
      }

      & h3, h4 {
        margin-bottom: 20px;
        font-weight: 700;
      }

      & p {
        margin-bottom: 10px;
      }
    }
  }
}