@import '../utilities/mixins';

.product-card {
	position: relative;
	transition: transform 200ms ease;

	&:hover {
		transform: scale(1.05) !important;

		& .product-card__body {
			color: black;

			& h5 {
				color: black;
			}
		}
	}

	&__frame {
		padding: 10px;
		background-color: white;
		border: 15px solid black;
		height: 100%;
		transition: all 200ms ease;

		@include phone-l {
			border-width: 10px;
		}

		&--decor {
			position: absolute;
			right: 100px;
			top: 15px;
			width: 250px;
			height: 300px;

			@include tablet {
				width: 200px;
				height: 250px;
				right: 50px;
			}

			@include phone {
				width: 150px;
				height: 200px;
				right: 5%;
			}
		}
	}

	&__img {
		& img {
			height: 100%;
		}
	}

	&__sold-out {
		display: inline-block;
		padding: 5px 10px;
		font-size: 10px;
		text-align: center;
		background-color: black;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		margin-top: -5px;
	}

	&__head {
		@include flex-center;
		position: relative;
		background-color: #f8f8f8;
		padding: 30px 20px;
		height: 280px;
		overflow: hidden;

		& img {
			height: 100%;
			object-fit: contain;
			border: 8px solid black;
			padding: 15px 10px;
			background-color: white;
		}
	}

	&__body {
		margin-top: 14px;
		text-align: center;
		font-size: 10px;
		line-height: 110%;
		color: #353735ad;
		transition: all 200ms ease;

		&-price {
			margin-top: 10px;
			row-gap: 10px;
		}

		& h5 {
			font-size: 13px;
			color: #353735ad;
			transition: all 200ms ease;
		}
	}
}

.print__info-footer-buttons {
	& button[disabled] {
		cursor: not-allowed;
		pointer-events: none;
		opacity: 0.6;
	}
}