.page-transition {
	transform: translateY(100%);
	position: fixed;
	z-index: 100000;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	&__1,
	&__2 {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	&__1 {
		z-index: 1;
		background-color: black;
	}

	&__2 {
		z-index: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;
	}
}

// .page-enter-active,
// .page-leave-active {
// 	transition: all 1s ease-in-out;
// }

// .page-enter-from {
// 	.default-transition__1 {
// 		transform: translateY(0%);
// 	}
// }

// .page-enter-to {
// 	.default-transition__1 {
// 		transform: translateY(100%);
// 	}
// }

// .page-leave-from {
// 	.default-transition__1 {
// 		transform: translateY(100%);
// 	}
// }

// .page-leave-to {
// 	.default-transition__1 {
// 		transform: translateY(100%);
// 	}
// }
